.trackContainer {
  text-align: left;
  padding: 5px;
  cursor: pointer;
  span {
    cursor: pointer;
    &.trackName {
      font-weight: bold;
    }
    &.trackArtist {
      color: grey;
      font-size: small;
    }
    &.trackPlayedAt {
      color: grey;
    }
  }

  &.selected {
    opacity: 1;
  }
  &.not-selected {
    opacity: 0.4;
  }
  &.inPlaylist {
    cursor: not-allowed;
    span {
      cursor: not-allowed;
    }
  }
}